* {
  --background-color: #f8f8f8;
  --enabled-color: #4caf50;
  --border: 2px solid black;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  padding: 10px;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  padding: 8px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 20px;
  width: fit-content;
}

button {
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
}

button,
button:hover {
  background-color: var(--enabled-color);
}

#start-button {
  background-color: #2196f3;
}

#play-button {
  background-color: #4caf50;
}

#pause-button {
  background-color: #ff9800;
}

#stop-button {
  background-color: #f44336;
}

button:disabled,
button[disabled] {
  background-color: #cccccc !important;
  color: #666666;
  cursor: not-allowed;
}

svg path {
  fill: #fff;
}

svg {
  width: 20px;
  height: 20px;
}

.icon:first-child {
  color: #4caf50;
}

.table {
  width: auto;
  overflow: hidden;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0 15px;
  table-layout: fixed;
}

th {
  padding: 15px;
  position: sticky;
  left: 0;
  background-color: var(--background-color);
}

td {
  text-align: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
}

td[communication-slot] {
  background-color: var(--communication-color);
  border-top: var(--border);
  border-bottom: var(--border);
}

td[first-slot] {
  border-left: var(--border);
}

td[last-slot] {
  border-right: var(--border);
}

main {
  display: flex;
  gap: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: max-content;
  margin-top: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

#mais {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#mais li {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: hsl(var(--mai-color), 80%, 60%);
}
